<div class='lg:space-y-10' data-controller='clipboard toggle'>
  <div class='float-right' >
    <%= render PrimaryButtonComponent.new(action: 'click->clipboard#copy click->toggle#toggle') do %>
        <%= heroicon "clipboard-copy", class: 'inline-block', data: { 'toggle-target' => 'show' } %>
        <%= heroicon "check", class: 'inline-block hidden', data: { 'toggle-target' => 'hide' } %>
    <% end %>
  </div>

  <div class='select-all' data-clipboard-target='source'>
    <%= @cover_letter.content %>
  </div>
</div>
