<div>
  <% @cover_letters.each do |cover_letter| %>
    <%= render CoverLetterComponent.new(cover_letter: cover_letter) do |c| %>
      <%= c.show_button(path: cover_letter_path(cover_letter), text: 'Show') %>
      <%= c.with_divider %>
    <% end %>
  <% end %>
</div>
