<div class='relative'>
  <%= @form.text_field @name, maxlength: @max_length, data: { 'charcounter-target' => 'source', action: 'charcounter#count', 'charcounter-maxvalue-param' => @max_length }, class: 'rounded text-black w-full' %>
  <% if @counter %>
    <div class='text-orange-500 absolute right-0 bottom-0 m-2', data-charcounter-target='count' >
      <%= @max_length %>
    </div>
  <% end %>
</div>